div(class="game_selection", id="game_selection_form", style="display: none;")
  div(class="ui two column top aligned very relaxed stackable grid")
    div(class="ui one column")
      form(action="javascript:void(0)")
        div(class="ui one column grid")
          div(class="column center aligned")
            h2() New Game
        div(class="ui one column middle aligned grid")
          div(class="column center aligned")
            label() Dice Operation
            div(class="margin-left")
              div(class="ui buttons", id="dice_operation")
                button(class="ui button active", id="addition_button", data-value="ADDITION") +
                button(class="ui button", id="multiplication_button", data-value="MULTIPLICATION") x
        div(class="ui one column middle aligned grid")
          div(class="column center aligned")
            label() Number of tiles
            div(class="margin-left")
              div(class="ui buttons", id="number_of_tiles")
                button(class="ui button active", id="nine_button", data-value="NINE") 9
                button(class="ui button", id="twelve_button", data-value="TWELVE") 12
        div(class="ui one column middle aligned grid")
          div(class="column center aligned")
            button(class="ui button center aligned" id="new_game_button") Play
    div(class="ui vertical inverted divider darker_divider") OR
    div(class="ui one column")
      div(class="ui one column center aligned grid")
        div(class="column center aligned")
          h2() Continue Game
      if number_games > 10
        div(class="ui one column center aligned grid")
          div(class="column center aligned")
            div(id="about", class="nano")
              div(class="nano-content")
                each game, index in games
                  div(class="ui one column center aligned grid")
                    div(class="column center middle aligned remove_padding")
                      if index == 0
                        input(name="urlsafe_key", type="radio", class="vertical_align game_radio_button", checked="checked", data-urlsafe_key=game.urlsafe_key, data-number_of_tiles=game.number_of_tiles, data-dice_operation=game.dice_operation, id=index)
                      else
                        input(name="urlsafe_key", type="radio", class="vertical_align game_radio_button", data-urlsafe_key=game.urlsafe_key, data-number_of_tiles=game.number_of_tiles, data-dice_operation=game.dice_operation, id=index)
                      label() &nbsp;&nbsp;&nbsp;Turn:&nbsp;#{game.turns_played}
                        div(class="ui buttons buttons_small")
                          if game.dice_operation == "ADDITION"
                            button(class="ui button active", id="addition_button", disabled) +
                          else
                            button(class="ui button", id="addition_button", disabled) +
                          if game.dice_operation == "MULTIPLICATION"
                            button(class="ui button active", id="multiplication_button", disabled) x
                          else
                            button(class="ui button", id="multiplication_button", disabled) x
                        div(class="ui buttons buttons_small")
                          if game.number_of_tiles == "9"
                            button(class="ui button active", id="nine_button", disabled) 9
                          else
                            button(class="ui button", id="nine_button", disabled) 9
                          if game.number_of_tiles == "12"
                            button(class="ui button active", id="twelve_button", disabled) 12
                          else
                            button(class="ui button", id="twelve_button", disabled) 12
      else
        each game, index in games
          div(class="ui one column center aligned grid")
            div(class="column center middle aligned remove_padding")
              if index == 0
                input(name="urlsafe_key", type="radio", class="vertical_align game_radio_button", checked="checked", data-urlsafe_key=game.urlsafe_key, data-number_of_tiles=game.number_of_tiles, data-dice_operation=game.dice_operation, id=index)
              else
                input(name="urlsafe_key", type="radio", class="vertical_align game_radio_button", data-urlsafe_key=game.urlsafe_key, data-number_of_tiles=game.number_of_tiles, data-dice_operation=game.dice_operation, id=index)
              label() &nbsp;&nbsp;&nbsp;Turn:&nbsp;#{game.turns_played}
                div(class="ui buttons buttons_small")
                  if game.dice_operation == "ADDITION"
                    button(class="ui button active", id="addition_button", disabled) +
                  else
                    button(class="ui button", id="addition_button", disabled) +
                  if game.dice_operation == "MULTIPLICATION"
                    button(class="ui button active", id="multiplication_button", disabled) x
                  else
                    button(class="ui button", id="multiplication_button", disabled) x
                div(class="ui buttons buttons_small")
                  if game.number_of_tiles == "9"
                    button(class="ui button active", id="nine_button", disabled) 9
                  else
                    button(class="ui button", id="nine_button", disabled) 9
                  if game.number_of_tiles == "12"
                    button(class="ui button active", id="twelve_button", disabled) 12
                  else
                    button(class="ui button", id="twelve_button", disabled) 12
      div(class="ui one column center aligned grid")
        div(class="column center aligned")
          button(class="ui button center aligned" id="continue_game_button") Play
